
# PyTorch
--extra-index-url https://download.pytorch.org/whl/cpu

# PyTorch Geometric
-f https://data.pyg.org/whl/torch-1.13.1+cpu.html
-r ./requirements-core.txt
torch==1.13.1
torch-cluster
torch-geometric
torch-scatter
torch-sparse
torch-spline-conv
torchmetrics
